# Lab 1 : Rohit Jayakumar Nair

Question1. What is the difference between Python and Jupyter? Type a comment in your notebook explaining the difference.


Python is a general-purpose programming language. It is generally used by system administrators and web developers. Furthermore, many scientists are using Python with libraries such as NumPy, SciPy, pandas, and matplotlib. It has dynamic nature which makes it a very productive language.

Jupyter is an organisation/ project which has some products for Julia, Python, R and others. Jupyter makes iPython, which is a python REPL (i.e. what you can type lines of python into and get immediate results). It is an interactive command-line terminal for Python.

Question2:
4k monitors are 3840 pixels wide and 2160 pixels tall. Assign these values to variables called width and height.

In [2]:
width = 3840
height = 2160

Question3. Check the values of these variables by printing them.

In [42]:
width

3840

In [43]:
height

2160

Question4. Create a new variable, total_pixels, and assign it the product of height and width.

In [44]:
total_pixels = height * width

In [45]:
total_pixels

8294400

Question5. What type of data is in total_pixels? (int, float, string, boolean). Use the type function to check.

In [46]:
type(total_pixels)

int

Question6. Create variables first_name and last_name and in them, store your given name and surname, respectively. Use the + operator to "add" these together to form your full name. Hint: You may realize you need to add another character in between them.

In [47]:
first_name = "Rohit Jayakumar"
last_name = "Nair"

In [48]:
first_name

'Rohit Jayakumar'

In [49]:
last_name

'Nair'

In [50]:
first_name + ' ' + last_name

'Rohit Jayakumar Nair'

Question7. Copy and run the following code and  What type of data is mystery? Use the type function to check.

In [51]:
mystery = [{'abc': 'def'}]

In [52]:
type(mystery)

list

Question8. What type of data is the first element of mystery? Hint: You'll need to use brackets to access an element by its location. And don't forget Python starts counting at 0!

In [53]:
type(mystery[0])

dict

Question9. Run the below code. What type of data is in the df variable?

In [54]:
import pandas as pd
df = pd.DataFrame([['Coffee', 310], ['Tea', 90]], columns=['beverage', 'caffeine'])

In [55]:
df.head()

  beverage  caffeine
0   Coffee       310
1      Tea        90

In [56]:
type(df)

pandas.core.frame.DataFrame

Question10. Take a look at the arguments we passed into pd.DataFrame in #9. There are two. What is the type of each of them?

In [57]:
df.info

<bound method DataFrame.info of   beverage  caffeine
0   Coffee       310
1      Tea        90>

In [58]:
df.dtypes

beverage    object
caffeine     int64
dtype: object

Question11. What would have happened if we hadn't imported Pandas in #8? Run del pd to delete the name pd from Python's memory, and then run the rest of the code (df = pd.DataFrame...) again to see.

In [59]:
del pd

In [60]:
df = pd.DataFrame([['Coffee', 310], ['Tea', 90]], columns=['beverage', 'caffeine'])

NameError: name 'pd' is not defined

Question12. Import Pandas again, under the alias pd (as before). Use type to check -- what type of data is in pd?

In [61]:
import pandas as pd
df = pd.DataFrame([['Coffee', 310], ['Tea', 90]], columns=['beverage', 'caffeine'])

In [62]:
type(pd)

module