Q1. You should have already downloaded the planes data (https://raw.githubusercontent.com/uc-python/intro-pythondatasci/master/data/planes.csv). Now download a related dataset – flights data (https://raw.githubusercontent.com/uc-python/intro-pythondatasci/master/data/flights.csv). Note that this is a fairly large dataset and may take a few seconds to download

In [4]:
import pandas as pd
planes = pd.read_csv('C:/Users/rohit/Downloads/intro-python-datasci-master/intro-python-datasci-master/data/planes.csv')
flights = pd.read_csv('C:/Users/rohit/Downloads/intro-python-datasci-master/intro-python-datasci-master/data/flights.csv')

Q2. Load in the planes data as planes and the flights data as flights.

In [5]:
planes.head()

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,N10156,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
1,N102UW,1998.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
2,N103US,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
3,N104UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
4,N10575,2002.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,NaN,Turbo-fan

In [6]:
flights.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00

Q3. Inspect the flights data with the tools you've learned so far -- methods like .head and
.describe, attributes like .shape and .dtypes. Based on what you see in the dataset,
form a hypothesis about what this dataset is. Do you see a column in this data that could
match up with a column in the planes data?

In [7]:
planes.shape

(3322, 9)

In [8]:
planes.index

RangeIndex(start=0, stop=3322, step=1)

In [9]:
planes.columns

Index(['tailnum', 'year', 'type', 'manufacturer', 'model', 'engines', 'seats',
       'speed', 'engine'],
      dtype='object')

In [10]:
planes.dtypes

tailnum          object
year            float64
type             object
manufacturer     object
model            object
engines           int64
seats             int64
speed           float64
engine           object
dtype: object

In [11]:
flights.shape

(336776, 19)

In [12]:
flights.index

RangeIndex(start=0, stop=336776, step=1)

In [13]:
flights.columns

Index(['year', 'month', 'day', 'dep_time', 'sched_dep_time', 'dep_delay',
       'arr_time', 'sched_arr_time', 'arr_delay', 'carrier', 'flight',
       'tailnum', 'origin', 'dest', 'air_time', 'distance', 'hour', 'minute',
       'time_hour'],
      dtype='object')

In [14]:
flights.dtypes

year                int64
month               int64
day                 int64
dep_time          float64
sched_dep_time      int64
dep_delay         float64
arr_time          float64
sched_arr_time      int64
arr_delay         float64
carrier            object
flight              int64
tailnum            object
origin             object
dest               object
air_time          float64
distance            int64
hour                int64
minute              int64
time_hour          object
dtype: object

We see common column like tailnum in both these data sets.

Q4. Just using the flights data, is it possible to determine what percentage of the flights were completed on Boeing planes? Why not?

No it's not. The flights data has information about the flights and does not hold information related to the manufacturer and hence it is not possible to determine what percent of flights were completed by Boeing.

Q5. In order to combine this data with the planes data (where the manufacturer column is), we need to do a join. Inner join the planes data to the flights data, storing the result in a
variable called joined_data. You'll need to determine the column that makes sense to join on.

In [21]:
joined_data = pd.merge(flights,
                 planes,
                 on='tailnum')

In [22]:
joined_data.head()

,year_x,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,...,minute,time_hour,year_y,type,manufacturer,model,engines,seats,speed,engine
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,...,15,2013-01-01 05:00:00,1999.0,Fixed wing multi engine,BOEING,737-824,2,149,NaN,Turbo-fan
1,2013,1,8,1435.0,1440,-5.0,1717.0,1746,-29.0,UA,...,40,2013-01-08 14:00:00,1999.0,Fixed wing multi engine,BOEING,737-824,2,149,NaN,Turbo-fan
2,2013,1,9,717.0,700,17.0,812.0,815,-3.0,UA,...,0,2013-01-09 07:00:00,1999.0,Fixed wing multi engine,BOEING,737-824,2,149,NaN,Turbo-fan
3,2013,1,9,1143.0,1144,-1.0,1425.0,1445,-20.0,UA,...,44,2013-01-09 11:00:00,1999.0,Fixed wing multi engine,BOEING,737-824,2,149,NaN,Turbo-fan
4,2013,1,13,835.0,824,11.0,1030.0,951,39.0,UA,...,24,2013-01-13 08:00:00,1999.0,Fixed wing multi engine,BOEING,737-824,2,149,NaN,Turbo-fan

Q6. How many rows are in the result DataFrame? How does this compare to how many rows were in its parent DataFrames (planes and flights)?

In [16]:
flights.shape

(336776, 19)

In [17]:
planes.shape

(3322, 9)

In [23]:
joined_data.shape

(284170, 27)

Q7. What would happen if you did a left join instead of an inner join? Try it, storing the result in a variable called left_joined_data. Check how many rows are in this new
DataFrame -- why is it different to the number of rows in joined_data (from #5)?

In [24]:
left_joined_data = pd.merge(flights,
                 planes,
                 on='tailnum',
                 how='left')

In [25]:
left_joined_data.shape

(336776, 27)

The inner join only keeps rows where the merge “on” value exists in both the left and right dataframes.
Left Merge / Left outer join Keeps every row in the left dataframe.
Where there are missing values of the “on” variable in the right dataframe, adding NaN values in the result.

Q8. Using the original (inner) joined data, calculate what percentage of flights were completed on Boeing planes.

In [47]:
tot = joined_data['manufacturer'].count()

In [48]:
count = joined_data['manufacturer'].value_counts()

In [49]:
count[0]

82912

In [50]:
percent_flights_Boeing = (count[0] / tot) * 100

In [55]:
print('Percentage of flights that were completed on Boeing planes is ',percent_flights_Boeing,'%')

Percentage of flights that were completed on Boeing planes is  29.17690115071964 %