Q1. Reload the planes and flights DataFrames, from the last lab.

In [1]:
import pandas as pd
planes = pd.read_csv('C:/Users/rohit/Downloads/intro-python-datasci-master/intro-python-datasci-master/data/planes.csv')
flights = pd.read_csv('C:/Users/rohit/Downloads/intro-python-datasci-master/intro-python-datasci-master/data/flights.csv')

Q2. What is the average departure delay (dep_delay) of all flights in this data?

In [16]:
flights.groupby('flight').agg({'dep_delay':['mean']})

        dep_delay
             mean
flight
1        5.293276
2       -0.568627
3        3.665079
4        7.516624
5        4.425926
...           ...
6171          NaN
6177     6.354037
6180     5.666667
6181     6.637500
8500    67.000000

[3844 rows x 1 columns]

Q3. What is the average departure delay by carrier, for flights in this data?

In [17]:
flights.groupby(['flight','carrier']).agg({'dep_delay':['mean']})

                dep_delay
                     mean
flight carrier
1      AA        2.314917
       B6        8.540146
       DL        2.800000
       UA       -0.333333
       WN       14.633333
...                   ...
6171   EV             NaN
6177   EV        6.354037
6180   EV        5.666667
6181   EV        6.637500
8500   OO       67.000000

[5725 rows x 1 columns]

Q4. If you followed the groupby-agg workflow we covered in lecture, you passed your summary function within a list. Try removing the brackets and rerunning #3. What's different about the result? Why do you think we focused on the list-based approach in class?

In [20]:
flights.groupby('flight','carrier').agg({'dep_delay':['mean']})

ValueError: No axis named carrier for object type <class 'pandas.core.frame.DataFrame'>

Q5. Working from your code for #3, calculate the minimum, mean, median, and maximum departure delay for each carrier. Don't do this in 4 separate lines -- you can achieve this result using a single invocation of groupby and a single invocation of agg.

In [28]:
flights.groupby(['flight','carrier']).agg({'dep_delay':['min','mean','median','max']})

               dep_delay
                     min       mean median    max
flight carrier
1      AA          -11.0   2.314917   -3.0  174.0
       B6          -14.0   8.540146    0.0  122.0
       DL          -17.0   2.800000   -1.5  145.0
       UA           -2.0  -0.333333    0.0    1.0
       WN           -3.0  14.633333   10.5   49.0
...                  ...        ...    ...    ...
6171   EV            NaN        NaN    NaN    NaN
6177   EV           -8.0   6.354037   -3.0  217.0
6180   EV           -5.0   5.666667    4.5   21.0
6181   EV          -11.0   6.637500   -2.0  122.0
8500   OO           67.0  67.000000   67.0   67.0

[5725 rows x 4 columns]

Q6. Perhaps, after doing some research, you discover that the most meaningful statistic for departure delay is the average delay, but the most meaningul way to measure air time is the median air time. Build a groupby-agg invocation that summarizes – at the carrier level – the average departure delay and the median air time.

In [29]:
flights.groupby(['carrier']).agg({'dep_delay':['mean'], 'air_time':['median']})

         dep_delay air_time
              mean   median
carrier
9E       16.725769     83.0
AA        8.586016    169.0
AS        5.804775    324.0
B6       13.022522    142.0
DL        9.264505    145.0
EV       19.955390     87.0
F9       20.215543    229.0
FL       18.726075    109.0
HA        4.900585    621.5
MQ       10.552041     83.0
OO       12.586207     68.0
UA       12.106073    197.0
US        3.782418     76.0
VX       12.869421    337.0
WN       17.711744    122.0
YV       18.996330     56.5

Q7. What is the single most common route in this data? That is to say, what combination of values for origin and destination occurs most frequently? Hint: to order the data yourself, you may want to experiment with the sort_values method of Pandas Series.

In [35]:
flights.groupby(['origin','dest']).size().sort_values(ascending=False)

origin  dest
JFK     LAX     11262
LGA     ATL     10263
        ORD      8857
JFK     SFO      8204
LGA     CLT      6168
                ...
        LEX         1
JFK     BHM         1
        STL         1
        MEM         1
EWR     LGA         1
Length: 224, dtype: int64

Q8. Challenge question
Same as #7, but by carrier: what route is most common for each carrier? You will need to use approaches beyond what we've seen in class, but you should be able to find code that gets you most of the way there just by googling

In [55]:
flights.groupby(['carrier','origin','dest']).size()

carrier  origin  dest
9E       EWR     ATL        4
                 CVG      855
                 DTW      231
                 MSP      178
         JFK     ATL       55
                         ...
WN       LGA     MKE     1310
                 STL      778
YV       LGA     CLT      282
                 IAD      311
                 PHL        8
Length: 439, dtype: int64