# Lab 07: Control Flow

## #1
The Python built-in function `input` prompts the user to enter text.
Use the `input` function to ask the user for his or her age (you may need to google it or look at docs for examples).

- If the user's age is less than 13, print a message telling them that they are a child.
- If the user's age is between 13 and 19, print a message telling them that they are a teenager.
- If the user is 20 or over, tell them they are old.

*Hint: you may want to use the `int()` function to coerce strings to integers.*

In [2]:
val = input("Enter your AGE: ") 
if int(val) < 13:
  print("You are a Child")
elif int(val) >=13 and int(val) < 19:
  print("You're a Teenager")
else:
  print("You are Old.")

Enter your AGE: 8
You are a Child

## #2
Using the planes DataFrame, loop through the values in the engine column and count how many contain a dash (-).
You may want to use the `in` operator to check if one string is inside another.

In [1]:
import pandas as pd
planes = pd.read_csv('C:/Users/rohit/Downloads/intro-python-datasci-master/intro-python-datasci-master/data/planes.csv')
planes.head()

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,N10156,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
1,N102UW,1998.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
2,N103US,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
3,N104UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
4,N10575,2002.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,NaN,Turbo-fan

In [3]:
planes['engine'].str.count('-').sum()

3292

## #3
Loop through every row in the planes DataFrame (try `df.iterrows()`) and sum up the number of engines *until* you encounter a plane made by Boeing.

In [5]:
engines = 0
for index,row in planes.iterrows():
    if row["manufacturer"] == "BOEING":
        break
    else:
        engines = engines + row["engines"]
        
print(engines)

68

## #4
The fizzbuzz problem (a famous coding interview question):
- Loop through the integers from 1 to 100
- For any number divisible by 3, print 'fizz'
- For any number divisible by 5, print 'buzz'
- For any number divisible by both 3 and 5, print 'fizzbuzz'
- For all other numbers, just print the number

In [25]:
for num in range(1, 101):
    if num % 15 is 0:
        print("fizzbuzz")
    elif num % 5 is 0:
        print("buzz")
    elif num % 3 is 0:
        print("fizz")
    else:
        print(num)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

## #5
Fill in the blanks in this list comprehension to produce the output [1, 3, 5]:
```python
[x * _ + _ for x in range(3)]
```

In [31]:
[x * 2 + 1 for x in range(3)]

[1, 3, 5]

## #6
Given a list `l = [4, 5, 2, 0, 2]`, write a list comprehension that produces `[12, 15, 6, 0, 6]`:
```python
[ _____ for _ in l]
```

In [32]:
l = [4, 5, 2, 0, 2]
[x * 3  for x  in l]

[12, 15, 6, 0, 6]

## #7
Write a list comprehension that returns a list of the columns of `planes` in all caps. *Hint: use `planes.columns` in the comprehension.*

In [33]:
 [x.upper() for x in planes.columns]

['TAILNUM',
 'YEAR',
 'TYPE',
 'MANUFACTURER',
 'MODEL',
 'ENGINES',
 'SEATS',
 'SPEED',
 'ENGINE']